backend/src/main/resources/ws/smartpark.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://smartpark.com/ws"
           targetNamespace="http://smartpark.com/ws"
           elementFormDefault="qualified">

  <xs:element name="GetParkingPlanRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="parkingId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="GetParkingPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="parkingId" type="xs:long" minOccurs="0" />
        <xs:element name="parkingNom" type="xs:string" minOccurs="0" />
        <xs:element name="spots" type="tns:SpotEntry" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="SpotEntry">
    <xs:sequence>
      <xs:element name="spotId" type="xs:long" />
      <xs:element name="numeroPlace" type="xs:string" />
      <xs:element name="statut" type="xs:string" />
      <xs:element name="nextReservationStart" type="xs:dateTime" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>
